@import '../../styles/partials'

.mainContainer
   background-color: $main__bg-color
   width: 100%

.botsMainContainer
   padding: 50px 40px

.bots
   display: flex
   flex-wrap: wrap
   margin-top: 50px

.botDeletionPopup
   padding: 32px 60px 45px
   text-align: center
   width: 438px

   .botDeletionPopupTitle
      margin: 20px 0 15px
      font-size: 28px

   .botDeletionPopupDesc
      font-size: 17px

      span
         font-weight: 600

   .botDeletionPopupAction
      margin-top: 35px
      display: flex
      justify-content: space-between

      .botDeletionPopupActionDeleteBtn,
      .botDeletionPopupActionCancelBtn
         width: 45%
         font-weight: 400
         text-transform: initial
         font-size: 15px

      .botDeletionPopupActionDeleteBtn
         border: 1px solid #517DF9
         color: #517DF9

      .botDeletionPopupActionCancelBtn
         background: #517DF9
         color: #fff