.mainContainer
   margin-top: 40px
   display: flex
   align-items: center
   flex-wrap: wrap
   justify-content: center

.fastBtn
   padding: 3px 0
   text-transform: inherit !important
   font-weight: 400
   font-size: 12px !important

.fastButtonCommon
   border-radius: 17px
   height: 34px
   display: flex
   justify-content: center
   align-items: center
   padding: 0 12px
   font-size: 14px
   line-height: 32px
   cursor: pointer
   margin-bottom: 10px

.appendedFastButton
   border: 1px solid #0084ff
   color: #0084ff
   margin-right: 7px
   padding: 0
   display: flex
   overflow: hidden
   justify-content: space-between

   .appendedFastButtonText
      padding: 0 12px
      border-right: 1px solid #0084ff

   .appendedFastButtonIcon
      padding: 0 12px
      box-sizing: border-box
      display: flex
      align-items: center
      justify-content: center
      transition: all 0.3s
      height: 100%

      &:hover
         background: #0084ff
         color: #fff

.newFastButton
   border: 1px dashed #8492a6
   color: #8492a6
   transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out

   &:hover
      border-color: #0084ff
      color: #0084ff

.openNewFastButton
   border: 1px solid #13ce66
   color: #13ce66
   @extend .newFastButton
   outline: none
   cursor: text

   &:hover
      border-color: #13ce66
      color: #13ce66

   &::placeholder
      color: #13ce66
      font-weight: 200

.appendFastBtnContainer
   .newFastButton
      width: auto

.contextMenuContainer
   position: relative