.mainContainer
   margin-top: 40px

.fastBtn
   padding: 3px 0
   text-transform: inherit !important
   font-weight: 400
   font-size: 12px !important

.newFastButton
   margin-right: 7px
   margin-bottom: 10px
   height: 34px
   border: 1px dashed #8492a6
   border-radius: 17px
   color: #8492a6
   padding: 10px
   display: flex
   justify-content: center
   align-items: center
   font-size: 15px
   line-height: 32px
   cursor: pointer
   width: 100%
   transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out

   &:hover
      border-color: #0084ff
      color: #0084ff

.openNewFastButton
   border: 1px solid #13ce66
   color: #13ce66
   @extend .newFastButton
   outline: none
   cursor: text

   &:hover
      border-color: #13ce66
      color: #13ce66

   &::placeholder
      color: #13ce66
      font-weight: 200

.contextMenuContainer
   position: absolute