.hoverBar {
	position: absolute;
   right: -27px;
   top: 0;
   display: none;
}

.tagsElement {
	.tagsElementRadius {
		border-radius: 0 0 7px 7px !important;
	}

	.tagsElementContainer {
		padding: 13px 16px;
		border: 1px solid #e0e6ed;
		border-radius: 7px;

		.tagsElementContainerTitle {
			margin-bottom: 20px;
		}

		.tagsElementContainerField {
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.tagsBorderColor {
			div {
				border-color: tomato !important;
			}
		}
	}

	&:hover {
		.hoverBar {
			display: block;
		}
	}
}
