.mainContainer
   z-index: 1200
   color: #8492a6
   font-size: 18px
   width: 100%
   text-align: center
   padding: 0 5px
   cursor: pointer

   p
      &:hover
         color: #0084ff

      &:first-child
         &:hover
            color: #ff6249
