.mainContainer
  border-radius: 5px
  font-size: .8rem
  cursor: pointer
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  font-family: 'Lato', sans-serif


  .buttonElement
    position: relative
    width: 100%
    border: 2px solid #e0e6ed
    background-color: #fff
    color: #0084ff
    transition: border-color .15s,color .15s
    height: 100%

    &:hover
      border-color: #0084ff


  .controls
    border: 2px dashed #e0e6ed
    border-radius: 0
    color: #8492a6
    transition: border-color .15s,color .15s
    padding: 10px 0
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    &:hover
      z-index: 2
      border-color: #0084ff
      color: #0084ff

  .variable
    border: 2px dashed #e0e6ed
    border-bottom-right-radius: 15px
    border-bottom-left-radius: 15px
    color: #8492a6
    transition: border-color .15s,color .15s
    padding: 10px 0
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    &:hover
      z-index: 2
      border-color: #0084ff
      color: #0084ff

.button
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  height: 100%
  width: 100%
  font-size: 15px
  font-weight: 400
  //padding: 10px 30% 10px 0

.captionContainer
  display: flex
  width: 100%
  border-right: 1px solid #e0e6ed
  //height: 100px
  padding: 10px 30% 10px 5px
  //height: 100%
  //width: 100%
  //align-items: center
  //margin-left: 10px

  //p
  //  border: 1px solid red
.label
  display: flex
  justify-content: center
  color: #ff6249
  width: 100%
