@import "partials";

.growth-tool-container {
   width: $container__width;

   .growth-tool__title {
      color: #444;
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 32px;
   }

   .growth-tool-box {
      background: #fff;
      box-shadow: 0 6px 11px -2px rgba(0, 0, 0, 0.2);
      padding: 50px;

      .growth-tool-box__item {
         text-align: center;

         .growth-tool-box-item__title {
            font-size: 19px;
            font-weight: 500;
         }

         .growth-tool-box-item__img {
            height: 264px;
            margin: 20px 0 40px;

            img {
               box-shadow: 0 6px 29px -20px rgba(0, 0, 0, 0.75);
               width: 100%;
            }
         }

         .growth-tool-box-item__btn {
            color: #fff;
            background: $theme__bg-color;
            padding: 6px 30px;

            &:hover {
               background: darken($theme__bg-color, 9%);
            }
         }

         &:first-child {
            width: 23%;
         }

         &:nth-child(2) {
            width: 40%;
         }

         &:last-child {
            width: 23%;
         }
      }
   }

   .growth-tool-table {
      margin: 60px 0;

      .ant-table-placeholder {
         background: $main__bg-color !important;
      }

      .growth-tool-table-icons {
         i {
            margin-right: 8px;
            font-size: 16px;
            cursor: pointer;

            &:last-child {
               margin-right: 0;
            }

            &:hover {
               color: #000;
            }
         }
      }
   }
}

.mlp-container {
   width: $container__width;

   .mlp-nav {
      .mlp-nav__back,
      .mlp-nav__next {
         font-weight: 400;
         text-transform: initial;
         width: 180px;
      }

      .mlp-nav__back {
         background: none;
         box-shadow: none;
         border: 1px solid #82848B;

         &:hover {
            background: darken(#fff, 5%);
         }
      }

      .mlp-nav__next {
         background: $theme__bg-color;
         color: #fff;

         &:hover {
            background: darken($theme__bg-color, 9%);
         }
      }
   }

   .mlp-body {
      .mlp-body-nav {
         margin-top: 40px;

         .mlp-body-nav__menu {
            .mlp-body-nav-menu__item-active {
               color: $theme__bg-color;
            }

            .mlp-body-nav-menu__item {
               cursor: pointer;
               position: relative;

               &:hover {
                  color: $theme__bg-color;
               }

               &:last-child {
                  &::after {
                     content: none;
                  }
               }

               &::after {
                  content: "";
                  position: absolute;
                  display: block;
                  width: 150px;
                  height: 1px;
                  background: #D0D0D0;
                  right: -176px;
                  top: 8px;
               }

               .mlp-body-nav-menu-item__icon {
                  margin-right: 10px;
                  font-size: 18px;
                  vertical-align: middle
               }
            }
         }
      }
   }
}

.mlp-carousel {
   margin-top: 40px;

   .mlp-setting {
      .mlp-setting__item {
         margin-bottom: 20px;

         .mlp-setting-item__title {
            margin-bottom: 5px;
         }
      }
   }
}
