@import "partials";

@mixin radioStyle {
   content: '';
   display: block;
   position: absolute;
   border: 1px solid #82848B;
   box-shadow: inset 0 0 0 3px #fff;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   right: 25px;
}

.partners-mine-container {
   .partners-mine-container__money {
      width: 24%;

      .partners-mine-container-money__item {
         border: 1px solid #e1e1e1;
         border-radius: 10px;
         margin-bottom: 20px;
         padding: 10px 20px;

         .partners-mine-container-money-item__icon {
            text-align: center;
            margin-right: 15px;
            width: 70px;
         }

         .partners-mine-container-money-item__info {
            .partners-mine-container-money-item-info__title {
               color: $highlighted__font-color;
            }

            .partners-mine-container-money-item-info__desc {
               color: $theme__bg-color;
               font-weight: 600;
            }
         }
      }

      .partners-mine-container-money__btn {
         width: 100%;
         margin-bottom: 40px;
         background: $theme__bg-color;
         color: $white__color;
         font-weight: 400;
         text-transform: initial;

         &:hover {
            background: darken($theme__bg-color, 10%);
         }
      }
   }

   .partners-mine-container__info {
      width: 71%;

      .partners-mine-container-info__title {
         font-size: 36px;
      }

      .partners-mine-container-info__desc,
      .partners-mine-container-info__sub-desc {
         span {
            font-weight: 700;
         }
      }

      .partners-mine-container-info__desc {
         color: $highlighted__font-color;
         margin: 15px 0;
         font-size: 17px;
         line-height: 1.6;
         width: 90%;
      }

      .partners-mine-container-info__sub-desc {
         color: $secondary__color;
         line-height: 1.1;
         width: 70%;

         span {
            font-size: 32px;
            color: $highlighted__font-color;
         }
      }

      .partners-mine-container-info__links {
         margin-top: 40px;

         .partners-mine-container-info-links-auto__desc {
            font-size: 18px;
            margin-bottom: 10px;
            color: $highlighted__font-color;
         }

         .partners-mine-container-info-links-auto__field {
            .partners-mine-container-info-links-auto-field__link {
               border: 1px solid #707070;
               border-radius: 9px;
               padding: 0 15px;
               height: 50px;
               width: 300px;

               p {
                  color: $highlighted__font-color;
                  margin-right: 10px;
               }

               i {
                  cursor: pointer;

                  &:hover {
                     color: $theme__bg-color;
                  }
               }
            }
         }

         .partners-mine-container-info-links-auto__sub-desc {
            margin-top: 5px;
            font-size: 14px;
         }

         .partners-mine-container-info-links__auto {
            margin-bottom: 30px;

            .partners-mine-container-info-links-auto__field {
               .partners-mine-container-info-links-auto-field__link {
                  border-radius: 9px 0 0 9px;
               }

               .partners-mine-container-info-links-auto-field__socials {
                  .partners-mine-container-info-links-auto-field-socials__item {
                     color: $white__color;
                     height: 50px;
                     width: 65px;
                     font-size: 24px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }

                  .partners-mine-container-info-links-auto-field-socials__item-vk {background: #4A729F}
                  .partners-mine-container-info-links-auto-field-socials__item-tg {background: #2FA7DB}
                  .partners-mine-container-info-links-auto-field-socials__item-fb {background: #0293FF}
                  .partners-mine-container-info-links-auto-field-socials__item-wp {background: #3FE15C; border-radius: 0 9px 9px 0}
               }
            }
         }
      }
   }

   .partners-mine-table {
      margin: 100px 0 60px;

      .partners-mine-table__title {
         margin-bottom: 15px;
      }

      .partners-mine-table__true {color: #1BCA00}
      .partners-mine-table__false {color: tomato}
   }
}

.partners-table-title {
   font-size: 26px;
   margin-left: 14px;
   font-weight: 300;
}

.partners-top-container {
   width: 71%;
   margin: 0 auto;

   .partners-top-container__table {
      margin: 15px 0 60px
   }
}

.partners-mine-container__modal-1 {
   .ant-collapse-item {
      &:first-child {
         .ant-collapse-header {
            &::after {
               background: $theme__bg-color;
            }
         }
      }
   }
}

.partners-mine-container__modal-2 {
   .ant-collapse-item {
      &:last-child {
         .ant-collapse-header {
            &::after {
               background: $theme__bg-color;
            }
         }
      }
   }
}

.partners-mine-container__modal {
   .ant-collapse {
      border: none
   }

   .ant-collapse-item {
      font-size: 16px;
      transition: all 0.3s;
      
      &:hover {
         background: #E4EFFF;
      }

      .ant-collapse-header {
         display: flex;
         align-items: center;
         position: relative;

         &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
         }

         &::after {
            @include radioStyle;
         }
      }

      &:first-child {
         .ant-collapse-header {
            &::before {
               background: url("../images/partners/yandex.png") no-repeat center;
               background-size: contain;
               height: 40px;
               width: 75px;
               margin-right: 5px;
            }
         }
      }

      &:last-child {
         .ant-collapse-header {
            &::before {
               background: url("../images/partners/card.png") no-repeat;
               background-size: auto;
               margin: 9px 5px 9px 0;
               width: 75px;
               height: 22px;
            }
         }
      }
   }

   .ant-collapse-item.ant-collapse-item-active {
      background: #E4EFFF;
   }

   .ant-collapse {
      background: none;
   }

   .ant-collapse {
      border-radius: 0;
   }

   .ant-modal-header {
      border-bottom: none;
   }

   .ant-modal-body {
      padding: 0;
   }

   .partners-mine-container-modal__text {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 16px;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      padding: 12px 16px 12px 10px;
      cursor: pointer;
      transition: all 0.3s;
      color: rgba(0, 0, 0, 0.85);

      &:hover {
         background: #E4EFFF;
      }

      &::before {
         content: '';
         display: block;
         background: url("../images/partners/chatlead.png") no-repeat center;
         background-size: contain;
         margin-right: 2px;
         width: 75px;
         height: 38px;
         margin-left: 3px;
      }

      span {
         @include radioStyle;
      }
   }

   .partners-mine-container-modal__field {
      &:first-child {
         margin-bottom: 10px;
      }

      .partners-mine-container-modal-field__decs {
         font-size: 14px;
         margin-top: 3px;
      }

      input {
         width: 100%;
         border: 1px solid #D0D0D0;
         transition: all 0.3s;
         padding: 5px 10px;
         border-radius: 4px;
         outline: none;

         &:hover,
         &:focus {
            border-color: $theme__bg-color;
         }
      }
   }

   .partners-mine-container-modal__error {
      color: tomato;
      font-size: 14px;
      margin-top: 5px;
   }
}