@import "partials";

.payment-more-info {
   padding: 10px 10px;
   font-size: 15px;
   background: #E8E8E8;
   margin-bottom: 40px;

   span {
      color: $theme__bg-color;
   }
}

.kaspi-full-name {
   margin-top: 20px;

   .kaspi-full-name__field {
      margin-bottom: 20px;
   }
}

.payment-kaspi__card {
   position: relative;
   background: url('../images/payment/Карта_Kaspi_Gold.png');
   background-size: cover;
   width: 65%;
   height: 190px;
   margin: 0 auto 30px;

   .payment-kaspi-card__field {
      position: absolute;
      top: 102px;
      font-size: 16px;
      padding: 7px 12px;
      outline: none;
      width: 19%;

      &:first-child {
         left: 26px;
      }

      &:nth-child(2) {
         left: 92px;
      }

      &:nth-child(3) {
         left: 158px;
      }

      &:nth-child(4) {
         left: 224px;
      }
   }
}

.payment-main-container {
   z-index: -1;
   border: 1px solid #E1E1E1;
   padding: 10px 12px;
   border-botom: none;
   font-size: 14px;

   .payment-main-info {
      span {
         color: $highlighted__font-color;
      }
   }
}

.payment-save-container {
   margin-bottom: 30px;

   .payment-save-title {
      width: 30%;
   }
}

.payment-navigation {
   margin-bottom: 40px;
   display: flex;
   transition: all 0.3s;
   justify-content: space-between;

   .payment-navigation__item {
      width: 23%;
      border-radius: 5px;
      height: 4px;
      position: relative;
      background: #D0D0D0;

      .payment-navigation-item__overlay {
         cursor: pointer;
         position: absolute;
         width: 100%;
         height: 13px;
         top: -4px;
      }
   }

   .payment-navigation-active__item {
      background: $theme__bg-color;
   }
}

.payment-steps {
   color: #82848B;
   font-size: 15px;
   display: block;
}

.payment-info__example {
   margin-top: 20px;
   margin-bottom: 30px;
}

.payment-kaspi__price {
   margin-top: 20px;
   margin-bottom: 30px;

   .payment-kaspi-price__input {
      border-bottom: 1px solid $main__border-color;
      transition: border-color 0.3s;
      width: 110px;
      outline: none;

      &:focus {
         border-color: $theme__bg-color;
      }
   }
}

.payment-save-selector {
   width: 70%;

   .payment-save-selector__desc {
      margin-top: 10px;
      color: #B5B5B5;
      line-height: 17px;
      font-size: 14px;
   }
}

.payment-card-types__item {
   width: 47%;
   cursor: pointer;
   transition: all 0.3s;
   font-size: 0;

   &:first-child {
      border: 2px solid $main__border-color;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &:last-child {
      img {
         width: 100%;
      }
   }

   &:hover {
      -webkit-box-shadow: 8px 8px 17px -12px rgba(0,0,0,0.75);
      -moz-box-shadow: 8px 8px 17px -12px rgba(0,0,0,0.75);
      box-shadow: 8px 8px 17px -12px rgba(0,0,0,0.75);
   }
}

.payment-btn {
   background: $theme__bg-color !important;
   color: #fff !important;
   text-transform: initial !important;
   font-weight: 400 !important;
   width: 100%;
}
