@import 'partials';

.profile-container {
	margin-top: 45px;
	padding-bottom: 45px;
   width: 720px;

   .profile-container__title {
      color: $theme__bg-color;
      font-size: 26px;
      margin-bottom: 45px;
   }

   .profile-container__avatar {
      width: 14%;

      .profile-container-avatar__input {
         opacity: 0;
         width: 0.1px;
         height: 0.1px;
         position: absolute;
      }

      .profile-container-avatar__img {
         text-align: center;
         margin-bottom: 10px;
         overflow: hidden;

         img {
            width: 100%;
         }
      }

      .profile-container-avatar__edit {
         .profile-container-avatar-edit__link label,
         .profile-container-avatar-edit__delete {
            cursor: pointer;
         }

         .profile-container-avatar-edit__link {
            color: $theme__bg-color;
            font-size: 16px;

            &:hover {
               text-decoration: underline;
            }
         }

         .profile-container-avatar-edit__delete {
            &:hover {
               color: tomato;
            }
         }
      }
   }

   .profile-container__info {
      width: 78%;

      .profile-container-info__form-control {
         .profile-container-info-form-control__field {
            margin-bottom: 0;
         }
      }

      .profile-container-info__password-success,
      .profile-container-info__password-error {
         margin-top: 12px;
         margin-bottom: -20px;
         color: tomato;
         font-size: 16px;
      }

      .profile-container-info__password-error {
         color: tomato;
      }

      .profile-container-info__password-success {
         color: #1bca00;
      }

      .profile-container-info__submit {
         margin-top: 40px;

         .profile-container-info-submit__btn-save,
         .profile-container-info-submit__btn-change {
            width: 180px;
            font-weight: 400;
            text-transform: initial;
         }

         .profile-container-info-submit__btn-save {
            background: $theme__bg-color;
            color: $white__color;

            &:hover {
               background: darken($theme__bg-color, 10%);
            }
         }

         .profile-container-info-submit__btn-change {
            border: 1px solid $theme__bg-color;
            color: $theme__bg-color;
            transition: all 0.3s;

            &:hover {
               background: $theme__bg-color;
               color: $white__color;
            }
         }
      }
   }
}
