@import "partials";

.statistics-container {
   width: $container__width;

   .statistics-info {
      width: 20%;

      .statistics-info-box {
         .statistics-info-box__item {
            border: 1px solid $main__border-color;
            border-radius: 4px;
            margin-bottom: 25px;
            padding: 7px 15px;

            &:last-child {
               margin-bottom: 0;
            }

            .statistics-info-box-item__icon {
               margin-right: 15px;
            }

            .statistics-info-box-item-info__title {
               color: $secondary__color;
            }

            .statistics-info-box-item-info__desc {
               font-size: 20px;
               font-weight: 500;
               color: $highlighted__font-color;
            }
         }
      }

      .statistics-info-export {
         margin-top: 35px;

         .statistics-info-export__btn {
            margin-bottom: 15px;
            border: 1px solid $theme__bg-color;
            color: $theme__bg-color;
            font-weight: 400;
            width: 100%;
            border-radius: 4px;
				text-transform: inherit;

				div {
					width: 24.5px !important;
      			height: 24.5px !important;
				}

				&:disabled {
					opacity: 0.6;
				}

            img {
               width: 25px;
               margin-left: 5px;
            }
         }

         .statistics-info-export__social {
            text-align: center;
            font-size: 14px;
         }
      }
   }

   .statistics-schedule {
      width: 77%;
   }

   .statistics-tag {
      margin: 60px 0;

      .statistics-tag-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 15px;

         .statistics-table__title {
            margin-bottom: 0;
         }

         .statistics-table__btn  {
            font-weight: 400;
            text-transform: initial;
            color: #fff;
            background: $theme__bg-color;
         }
      }

      tr {
         td {
            &:first-child {
               color: $theme__bg-color;
            }
         }
      }
   }

   .statistics-form {
		padding-bottom: 60px;
   }

   .statistics-tag-actions {
      i {
         //margin-right: 10px;
         cursor: pointer;
      }

      .statistics-tag-actions__delete {
         margin-left: 20px;

         &:hover {
            color: tomato;
         }
      }
   }

   .statistics-table__title {
      font-size: 26px;
      color: #444;
      margin-left: 14px;
      font-weight: 300;
      margin-bottom: 15px;
   }

   .ant-table-placeholder {
      background: $main__bg-color;
   }
}

.statistics-info-import-field {
   margin-bottom: 7px;
   margin-top: -8px;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
   border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
   border-top: 2px dashed #1890ff;
}