@import "partials";

.statistics-container {
   width: $container__width;

   .statistics-info {
      width: 20%;

      .statistics-info-box {
         .statistics-info-box__item {
            border: 1px solid $main__border-color;
            border-radius: 4px;
            margin-bottom: 25px;
            padding: 7px 15px;

            &:last-child {
               margin-bottom: 0;
            }

            .statistics-info-box-item__icon {
               margin-right: 15px;
            }

            .statistics-info-box-item-info__title {
               color: $secondary__color;
            }

            .statistics-info-box-item-info__desc {
               font-size: 20px;
               font-weight: 500;
               color: $highlighted__font-color;
            }
         }
      }

      .statistics-info-export {
         margin-top: 35px;

         .statistics-info-export__btn {
            border: 1px solid $theme__bg-color;
            color: $theme__bg-color;
            font-weight: 400;
            width: 100%;
            border-radius: 4px;
				text-transform: inherit;
				
				div {
					width: 24.5px !important;
      			height: 24.5px !important;
				}
				
				&:disabled {
					opacity: 0.6;
				}

            img {
               width: 25px;
               margin-left: 5px;
            }
         }

         .statistics-info-export__social {
            margin-top: 7px;
            text-align: center;
            font-size: 14px;
         }
      }
   }

   .statistics-schedule {
      width: 77%;
   }

   .statistics-form {
      margin-top: 60px;

      .statistics-form__table {
         .ant-table-placeholder {
            background: $main__bg-color;
         }
      }
   }
}
