@import "partials";

.tariff-table-content-body__bot-name {
   font-weight: 500;
   color: $highlighted__font-color
}

.tariff-container {
	padding-bottom: 50px;

   .tariff__balance {
      width: 24%;

      .tariff-balance__box {
         border: 1px solid $main__border-color;
         border-radius: 10px;
         margin-bottom: 20px;
         padding: 10px 20px;

         .tariff-balance-box__info {
            margin-left: 15px;

            .tariff-balance-box-info__title {
               font-size: 16px;
               margin-bottom: 4px;
            }

            .tariff-balance-box-info__desc {
               font-size: 18px;
               color: $theme__bg-color;
            }
         }
      }

      .tariff-balance__btn {
         border-radius: 5px;
         height: 40px;
         width: 100%;
      }
   }

   .tariff__table {
      .tariff-table__title {
         margin-bottom: 5px !important;
      }

      .tariff-table__desc {
         margin-bottom: 32px;

         .tariff-table__desc__link {
            cursor: pointer;
            transition: all 0.2s;
            text-decoration: underline;

            &:hover {
               color: $theme__bg-color;
            }
         }
      }

      .tariff-table-content__body {
         tr {
            transition: all 0.3s;
         }

         .tariff-table-content-body__bot {
            transition: all 0.2s;

            &:hover {
               background: none !important;
            }

            .tariff-table-content-body-bot__link {
               span {
                  margin-left: 7px;
               }

               &:hover {
                  color: darken($theme__bg-color, 20%)
               }
            }
         }

         .tariff-table-content-body__select {
            margin: 15px 0;
            background: #fff;
            padding: 7px 12px;
            border: 1px solid $main__border-color;
            cursor: pointer;
            border-radius: 4px;
            transition: all 0.3s;
            font-size: 14px;

            &:hover {
               border-color: $theme__bg-color;
            }
         }

         .tariff-table-content-body__paid {
            padding: 8px 15px;

            .tariff-table-content-body__paid-true {
               color: #20BE06;
            }

            .tariff-table-content-body__paid-false {
               color: tomato;
            }

            span {
               color: $secondary__color;
               display: block;
               margin-top: 5px;
               font-size: 12px;
            }
         }

         td {
            cursor: initial;

            &:first-child {
               width: 45%;
            }

            &:nth-child(2),
            &:nth-child(3) {
               width: 30%;
            }
         }
      }

      .tariff-next-btn {
         transition: all 0.3s;
         margin-top: 40px;
         border-radius: 5px;
         width: 25%;
         height: 40px;

         svg {
            margin-left: 10px;
            margin-top: 3px;
            font-size: 18px;
         }
      }
   }

   .tariff-payment-footer {
      width: 100%;
      margin-top: 40px;

      p {
         font-size: 19px;

         span {
            font-size: 23px;
            color: $highlighted__font-color;
         }
      }

      .tariff-payment-footer-btn {
         margin: 0;
      }
   }
}

.prices-container {
	padding-bottom: 50px;
	
   .prices-tabs {
      display: flex;
      justify-content: center;

      li {
         color: #5D5F64;
         padding-bottom: 12px;
         transition: border 0.2s;
         cursor: pointer;

         &:hover {
            color: $theme__bg-color;
         }

         &:first-child {
            position: relative;
            margin-right: 50px;

            &::after {
               content: '';
               display: block;
               position: absolute;
               vertical-align: middle;
               width: 2px;
               height: 20px;
               background: #d0d0d0;
               right: -25px;
               top: 0;
               border-radius: 2px;
            }
         }
      }

      .prices-tabs__active {
         border-bottom: 2px solid $theme__bg-color;
      }
   }

   .prices-box {
      margin-top: 45px;

      a {
         color: inherit;
      }

      .prices-box__item {
         width: 27%;

         &:first-child {
            .prices-box-item-offer__button {
               cursor: default;
               opacity: 0;
            }

            .prices-box-item__divider {
               background: #D0D0D0;
            }
         }

         &:nth-child(2) {
            .prices-box-item__divider,
            .prices-box-item-offer__button {
               background: #21BE05;
            }

            .prices-box-item-offer__button {
               color: #fff;
               transition: all 0.3s;

               &:hover {
                  background: darken(#21BE05, 10%);
               }
            }
         }

         &:nth-child(3) {
            .prices-box-item__divider {
               background: $theme__bg-color;
            }

            .prices-box-item-offer__button {
               color: $theme__bg-color;
               transition: all 0.3s;
               background: none;
               box-shadow: none;
               border: 1px solid $theme__bg-color;

               &:hover {
                  background: $theme__bg-color;
                  color: #fff;
               }
            }
         }

         .prices-box-item__divider {
            width: 100%;
            height: 3px;
            border-radius: 5px;
         }

         .prices-box-item__offer {
            margin: 20px 0;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #D0D0D0;

            .prices-box-item-offer__title {
               font-weight: 600;
               color: #5D5F64;
            }

            .prices-box-item-offer__price {
               color: #5D5F64;
               margin: 7px 0;
               font-size: 18px;

               span {
                  font-weight: 600;
               }
            }

            .prices-box-item-offer__desc {
               color: #5D5F64;
               font-size: 14.5px;
            }

            .prices-box-item-offer__button {
               margin-top: 25px;
               text-transform: inherit;
               font-weight: 400;
               width: 170px;
            }
         }

         .prices-box-item__info {
            li {
               color: #5D5F64;
               margin-top: 10px;

               &:first-child {
                  margin-top: 0;
               }

               &::before {
                  content: '';
                  display: inline-block;
                  vertical-align: middle;
                  width: 17px;
                  height: 17px;
                  margin-right: 8px;
                  background: url("../images/tariff/check-mark.jpg");
                  background-size: cover;
               }
            }
         }
      }
   }
}

.dropdown-box {
   background: #fff;
   border: 1px solid $main__border-color;
   width: 447px;
   display: flex;
   justify-content: space-between;

   .dropdown-box__item {
      width: 50%;

      &:last-child {
         .dropdown-box-item__title {
            border-right: none;
         }

         .dropdown-box-item__info {
            .dropdown-box-item-info__item {
               border-right: none;
            }
         }
      }

      .dropdown-box-item__title {
         color: $highlighted__font-color;
         font-weight: 600;
         padding: 10px 15px;
         border-bottom: 1px solid $main__border-color;
         border-right: 1px solid $main__border-color;
      }

      .dropdown-box-item__info {
         .dropdown-box-item-info__item {
            padding: 10px 15px;
            cursor: pointer;
            border-right: 1px solid $main__border-color;
            transition: all 0.3s;

            .dropdown-box-item__bonus {
               color: #20BE06;
               font-size: 16px;
            }

            .dropdown-box-item__desc {
               font-size: 15px;
            }

            .dropdown-box-item__price {
               color: $highlighted__font-color;
               font-size: 18px;
            }

            &:hover {
               background: $main__hover-color;

               .dropdown-box-item__desc,
               .dropdown-box-item__price {
                  color: $theme__bg-color;
               }
            }
         }
      }
   }
}

.payment-custom {
   padding-bottom: 0;
}

.tariff-history-container {
   .tariff-history-table {
      margin: 0 auto;

      td {
         width: 25%;
         cursor: initial;
      }
   }
}

.tariff-payment-modal {
   .ant-modal {
      width: 416px !important;

      .ant-modal-body {
         padding: 32px 42px 24px;
      }

      .ant-modal-footer {
         padding-bottom: 25px;
      }

      .tariff-payment-modal-container {
         .tariff-payment-modal-container__buttons {
            margin-top: 25px;
            display: flex;
            justify-content: flex-end;

            button {
               margin-right: 10px;

               &:last-child {
                  margin-right: 0;
               }
            }
         }
      }

      h2 {
         font-size: 17px;
         font-weight: 500;
      }

      p {
         margin-top: 20px;

         span {
            font-weight: 500;
         }
      }

      .ant-modal-close {
         display: none
      }
   }
}

.tariff-payment-modal-success {
   .ant-modal-body {
      padding: 0 !important;
   }

   .tariff-payment-modal-success-sub-title {
      ul {
         margin-top: 10px;

         font-weight: 500;
      }
   }
}
