@import "content-table";
@import "index";
@import "page";
@import "statistics";
@import "tariff";
@import "payment";
@import "profile";
@import "growthTool";
@import "partners";

@import "partials";

body {
   font-size: 15px;
   color: $secondary__color;
}

.main-setup-container {
	background: $main__bg-color;
}

.search-data {
   svg {
      margin-top: 5px;
      color: #BFC0C2;
   }
}

.ant-table-placeholder {
   background: none;
}

.ant-table-thead > tr > th {
   background: none;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
   border-bottom-color: #4680fe !important;
}

.filled-status-container {
   position: relative;
   width: 100%;

   .filled-status-container__icon {
      position: absolute;
      color: tomato;
      left: -21px;
      top: 5px;
   }
}

.statistics-tag-popup {
   .MuiDialogTitle-root {
      padding: 16px 80px 16px 26px !important;
   }

   .statistics-tag-popup-container {
      padding: 0 26px;

      .statistics-tag-popup-footer {
         margin-top: 25px;
         display: flex;
         padding-bottom: 16px;
         align-items: center;
         justify-content: space-between;

         .statistics-tag-popup-footer__close,
         .statistics-tag-popup-footer__create {
            font-weight: 400;
            text-transform: initial;
            transition: all 0.3s;
         }

         .statistics-tag-popup-footer__close {
            background: none;
            border: 1px solid $theme__bg-color;
            color: $theme__bg-color;

            &:hover {
               background: $theme__bg-color;
               color: $white__color;
            }
         }

         .statistics-tag-popup-footer__create {
            background: $theme__bg-color;
            color: $white__color;

            &:disabled {
               opacity: 0.6;
            }
         }
      }
   }
}


.ant-modal-footer {
   border-top: none;
}

.fancy-file-uploader > .ant-upload {
	width: 100%;
}

.fancy-file-uploader-img {
	.ant-upload-list-picture-card-container {
		height: auto;
	}
}

.fancy-file-uploader {
	.ant-upload-list-picture-card-container {
		width: 100%;

		.ant-upload-list-item {
			width: 100%;
			height: 100%;
		}
	}
}

.buttonsMenuSelector {
   .ant-select-selection.ant-select-selection--single {
      height: 45px !important;
      border-radius: 10px 0 0 10px !important;

      .ant-select-selection__rendered {
         line-height: 42px;
      }
   }
}

.payment-save-container-success-pay {
   .ant-select-selection.ant-select-selection--single {
      height: 35px !important;
      border-radius: 5px !important;

      .ant-select-selection__rendered {
         line-height: 32px;
      }
   }
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
   font-size: 15px;
   margin-top: 2px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
   .MuiInputBase-input.MuiOutlinedInput-input {
      font-size: 14px;
      height: 12px;
   }
}

.search-data-form .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
   border-radius: 25px;
}

.sendLinkElement_sendLinkBox__KfoW0 {
   .ant-input:hover {
      border-color: #0084ff !important;
   }
}

.conditions-tr-enter {
   opacity: 0.01;
}

.conditions-tr-enter.conditions-tr-enter-active {
   opacity: 1;
   transition: opacity 500ms;
}

.conditions-tr-leave {
   opacity: 1;
}

.conditions-tr-leave.conditions-tr-leave-active {
   opacity: 0.01;
   transition: opacity 300ms;
}

.conditionSelectContainer {
   display: flex;
   justify-content: space-between;

   .conditionSelectBefore {
      text-align: center;

      .ant-select-arrow {
         display: none;
      }

      .ant-select-selection {
         border-radius: 4px 0 0 4px;
         border-right: 0;
         display: flex;
         align-items: center;


         &:active,
         &:focus,
         &:hover {
            box-shadow: none;
            border-color: #d9d9d9;
         }

         &::before {
            content: 'Теги';
            margin-bottom: 1px;
            margin-left: 5px;
            display: block;
         }

         .ant-select-selection__rendered {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
         }

         .ant-select-selection-selected-value {
            width: 90%;
         }
      }
   }

   .conditionSelectElement {
      .ant-select-selection {
         border-radius: 0 4px 4px 0;
      }
   }
}

.tagsElementContainerField {
   .ant-select-selection__rendered li {
      &:first-child {
         padding-left: 105px;
      }
   }

   .ant-select-selection.ant-select-selection--multiple {
      position: relative;

      &::before {
         content: "Добавить теги:";
         color: #BFBFBF;
         position: absolute;
         top: 4px;
         left: 8px;
      }

      .ant-select-selection__choice {
         &:first-child {
            padding: 0 20px 0 10px;
            margin-left: 105px;
         }
      }
   }

   &:last-child {
      .ant-select-selection.ant-select-selection--multiple {
         &::before {
            content: "Убрать теги:";
         }
      }

      .ant-select-selection__choice {
         &:first-child {
            padding: 0 20px 0 10px !important;
            margin-left: 85px !important;
         }
      }

      .ant-select-selection__rendered li {
         &:first-child {
            padding-left: 85px;
         }
      }
   }
}
