.mainContainer
   width: 100%
   margin-top: 40px
   border-top: 1px solid silver
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif

   .mainContainerTitle
      color: #000
      text-align: center
      margin-top: 20px
      font-size: 16px

.navigationSent
   display: block
   color: #517df9

   li
      display: none

.userListBroadcast
   display: flex
   flex-direction: column
   align-items: center
   padding: 20px 0 40px 0
   border-bottom: 1px solid silver
   width: 100%
   box-sizing: border-box

.socialList
   .socialListCheckAll
      margin-bottom: 15px

.userListElement
   width: 90%

   h2
      color: #000
      font-size: 16px
      margin-bottom: 10px

   label
      font-size: 16px
      display: block
      margin-left: 0 !important
      color: #000

.options
   display: flex
   flex-direction: column
   padding: 40px 0 40px 0
   border-bottom: 1px solid silver
   align-items: center
   width: 100%

   div
      display: flex
      flex-direction: column
      align-items: flex-start

   label
      color: #82848b
      margin-bottom: 5px
      display: flex
      align-items: center
      font-size: 15px

      input
         margin-right: 5px

.buttonsContainer
   display: flex
   flex-direction: column
   align-items: center
   padding: 40px 0 40px 0

.submitButton
   border-radius: 33px !important
   background-color: #517df9 !important
   color: #fff !important
   font-weight: 400 !important
   text-transform: initial !important

.putOffButton
   border-radius: 33px !important
   font-weight: 400 !important
   text-transform: initial !important
   border-color: #517df9 !important
   color: #517df9 !important
   transition: all 0.3s !important

   &:hover
      background: #517df9 !important
      color: #fff !important

.testBroadCastContainer
   padding: 40px 0 40px 0
   border-bottom: 1px solid silver
   width: 100%
   display: flex
   flex-direction: column
   align-items: center

   p
      color: #4680fe
      text-decoration: none
      font-size: 16px
      cursor: pointer

.buttonsContainerTest
   padding: 40px 25px

.calendarContainer
   width: 300px
   background: #fff
   padding: 20px 40px
   box-shadow: 0 0 10px 0 rgba(77, 77, 77, 0.2)

   h2
      margin-bottom: 10px

.completeMessage
   padding: 20px 15px
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center

   p
      color: #000

   .submitButton
      margin-top: 10px

.datePickerInput
   padding: 5px
   font-size: 14px
   outline: none
   cursor: pointer
