.mainContainer
  display: flex
  flex-wrap: wrap
  margin-top: 40px

  .buttonElement
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    overflow: hidden
    box-sizing: border-box
    margin: 4px
    width: 86px
    height: 79px
    border: 2px dashed #e0e6ed
    border-radius: 15px
    background-color: #fff
    color: #8492a6
    text-align: center
    cursor: pointer
    transition: border-color .15s,color .15s

    p
      margin-top: 10px
      font-size: 12px

    img
      width: 40px
      height: 35px
      object-fit: contain

    &:hover
      border-color: #0084ff
