.actionsMainContainer
   margin-top: 10px

   h2
      font-size: 15px

.createTagBtnBox
   margin-bottom: 20px

.createTagBtn
   width: 100%
   padding: 3px 0
   background: #4680FE !important
   color: #fff !important
   font-weight: 400
   font-size: 12px !important

   &:hover
      background: darken(#4680FE, 10%)

.tagsListBtn
   text-align: center
   margin-bottom: 15px

   button
      width: 100%
      text-transform: inherit !important

.actionsContainer
   display: flex
   justify-content: center
   align-items: center
   color: #000
   height: 34px
   border: 1px solid #e0e6ed
   border-radius: 2px
   background-color: #fff
   background-clip: padding-box
   text-align: center
   text-transform: capitalize
   white-space: nowrap
   font-weight: 400
   font-size: 15px
   line-height: 32px
   cursor: pointer
   transition: all .15s ease-in-out
   width: 100%

   &:hover
      background: #f2f2f2

.actionElement
   label
      font-family: 'Lato', sans-serif
      font-size: 15px
      line-height: 20px
      color: #3c4858

   .actionElementBox
      display: flex
      justify-content: space-between

      p
         font-size: 17px
         color: tomato

         &:hover
            color: darken(tomato, 15%)

   input
      margin-top: 5px

.tagsListBox
   li, ul, button
      font-size: 16px
      outline: none
      padding: 0

   li
      div
         width: 100%

         input
            padding: 10px 20px
            background: darken(#fff, 10%)
            font-size: 15px
            outline: none
            border: 1px solid #e0e6ed

         p
            padding: 0 20px

   button
      width: auto
      padding: 10px
