.hoverBar {
	position: absolute;
   right: -27px;
   top: 0;
   display: none;
}

.sendLinkContainer {
	&:hover {
		.hoverBar {
			display: block;
		}
	}

   .linkRadius {
      border-radius: 0 0 7px 7px !important;
   }

	.sendLinkBox {
		padding: 13px 16px;
		border: 1px solid #e0e6ed;
		border-radius: 7px;

      .sendLinkBoxField {
         margin-bottom: 15px;

         .sendLinkBoxTitle {
            margin-bottom: 7px;
            font-size: 15px;
         }

         .sendLinkBoxSelect {
            border: 1px solid #d9d9d9;
            color: #BFBFBF;
            cursor: pointer;
            border-radius: 4px;
            padding: 4px 11px;
            transition: all 0.3s;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
               border-color: #0084ff;
            }
         }
      }
	}
}

.sendLinkBoxSelectBox {
   width: 292px;

   .sendLinkItem {
      padding: 8px 15px;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
         color: #BFBFBF;
      }

      &:hover {
         background: #e6f7ff;
      }
   }
}

.sendLinkTMenu {
   padding: 10px;
}
