.hoverBar {
	position: absolute;
   right: -27px;
   top: 0;
   display: none;
}

.sendLinkContainer {
	&:hover {
		.hoverBar {
			display: block;
		}
	}

	.sendLinkBox {
		padding: 13px 16px;
		border: 1px solid #e0e6ed;
		border-radius: 0 0 7px 7px;
	}
}